.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  position: relative;
  left: 5vw;
  top: calc(60px + 2vh);
}

.game-container * {
  font-family: Verdana, sans-serif;
}

.game-container > .title {
  display: flex;
  align-items: center;
  width: 35%;
  justify-content: space-between;
}

.game-container .team-img {
  width: 10vw;
}

.game-container .final-score {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  gap: 20px;
}

.game-container .final-score * {
  margin: 0;
  white-space: nowrap;
}

.game-container .streak-msg {
  margin-top: 10px;
  white-space: nowrap;
}

.game-container > .to-stats {
  background-color: #01260d;
  height: 1px;
  width: 100%;
}

.game-container .stats-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game-container .stats-container > .stats {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  margin-top: 3vh;
}

.game-container .stats-container .stats > .stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.game-container .stats-container .stats > .stat > .name {
  font-weight: 600;
}

.game-container .stats-container .stats > .stat > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.game-container .stats-container .stats > .stat > div > p {
  font-family: Andale Mono, monospace;
  font-weight: 600;
  font-size: large;
}

.game-container .stats-container .stats > .stat > div svg {
  cursor: default;
  color: rgba(0, 0, 0, 0.8);
}

.game-container .stats-container .stats > .stat > div svg * {
  cursor: default;
}

.game-container .stats-container .stats > .stat .stat-bar {
  width: 70vw;
  height: 25px;
  border: 2px solid #011908;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.game-container .stats-container .stats > .stat .stat-bar * {
  margin: 0;
}

.game-container .stats-container .stats > .stat .stat-bar > div {
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
}

.game-container .stats-container .stats > .stat .stat-bar > div {
  background-color: rgb(165, 164, 164);
}

.game-container .stats-container .stats > .stat .stat-bar > .bucks-side {
  background-color: #255734;
}

.game-container .stats-container .stats > .stat .stat-bar > div > p {
  margin: 0 5px;
  z-index: 1;
  color: white;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.game-container .stats-container .stats > .stat .stat-bar > .away-side::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: white;
}

.game-container .stats-container .stats > .stat .stat-bar > .home-side::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: white;
}

.game-container .stats-container .stats > .stat .stat-bar > .home-side > p {
  position: absolute;
  right: 0;
}

.game-container .stats-container .stats > .stat .stat-bar .home-side {
  right: 0;
}

.game-container .stats-container * {
  margin: 0;
}

.game-container .scroll-expandor {
  opacity: 0;
  margin-top: 2vh;
}

.game-container .box-score-title {
  color: #022a0e;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-bottom: 1px solid #011e0a;
  height: max-content;
  padding: 0 1vw;
}

.game-container table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #033d13;
  margin-bottom: 10px;
}

.game-container table th,
.game-container table td {
  border-top: 1px solid #033d13;
  border-bottom: 1px solid #9da8a094;
  padding: 8px;
  text-align: center;
}

.game-container table .last td {
  border-bottom: 1px solid #033d13;
}

.game-container table .name {
  border-right: 1px solid #9da8a094;
  padding: 0 1vw;
  width: 8vw;
  max-width: 8vw;
}

.game-container table .name > div {
  margin: 0;
  display: flex;
  align-items: center;
  position: relative;
}

.game-container table .name > div > .currently-playing-dot {
  position: absolute;
  left: -0.5vw;
  translate: -50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
  margin: 0;
}

.game-container table .name > div > p {
  margin: 1vh 0;
  width: max-content;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.game-container table th {
  background-color: #f2f2f2;
}

.game-container table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.game-container table tbody tr:hover {
  background-color: #ddd;
}

.game-container .displaying-thing-menu {
  width: 20vw;
  height: 4vh;
  border: 1px solid #aaa;
  border-radius: 8px;
  margin-top: 4vh;
  background-color: rgba(209, 209, 209, 0.485);
  display: flex;
  overflow: hidden;
}

.game-container .displaying-thing-menu > button {
  width: 50%;
  padding: 0 10px;
  box-sizing: border-box;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}

.game-container .displaying-thing-menu > button:not(.active):hover {
  background-color: rgba(158, 165, 158, 0.665);
}

.game-container .displaying-thing-menu > .active {
  background-color: rgb(3, 51, 3);
  color: white;
  z-index: 1;
}

.game-container
  .displaying-thing-menu
  > button:not(.active):hover
  + .game-container
  .displaying-thing-menu {
  background-color: rgba(187, 191, 187, 0.994);
}

.game-container .logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-container .logo-container > p {
  margin: 0;
}

.game-container .time-container {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  gap: 20px;
}

.game-container .time-container * {
  margin: 0;
  text-align: center;
}

.game-container .line-score {
  width: 30vw;
  margin-top: 3vh;
}

.game-container .line-score td,
.game-container .line-score th {
  border-bottom: 1px solid #033d13;
  border-right: 1px solid #475049;
}

.game-container .loading-polls {
  position: relative;
  left: 0;
  translate: 0;
  top: 5vh;
}

.game-container .polls-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 80vw;
}

.game-container .polls-container .poll {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  width: 20vw;
  position: relative;
}

.game-container .polls-container .question {
  margin-top: 0;
  color: #011908;
}

.game-container .polls-container .options {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.game-container .polls-container .option {
  margin: 0;
  padding: 5px 0;
  text-align: start;
  position: relative;
  transition: 0.3s ease;
}

.game-container .polls-container .option.first {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.game-container .polls-container .option.last {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.game-container .polls-container .option.even {
  background-color: #ddd;
}

.game-container .polls-container .option:hover {
  background-color: #e2e2e2;
}

.game-container .polls-container .option.even:hover {
  background-color: #cbcbcb;
}

.game-container .polls-container .option > button {
  width: 100%;
  text-align: start;
  cursor: pointer;
}

.game-container .polls-container .show-votes {
  margin: 0;
  position: absolute;
  right: 2px;
  bottom: 50%;
  translate: 0 50%;
}

.game-container .preview-title {
  color: #01260d;
  position: relative;
  left: 5%;
}

.game-container .top-performers-loader {
  position: relative;
  left: 50%;
  translate: -50%;
}

.top-performers-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 15%;
}

.top-performers-container img {
  width: 10vw;
}

.top-performers-container > div {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.top-performers-container > div > a {
  padding: 10px;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  border: 1px solid #01260d;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.top-performers-container > div > a p {
  font-family: cursive;
}

.top-performers-container > div > a {
  background-color: #ddd;
}

.top-performers-container .bucks > a {
  background-color: #154824;
  color: white;
}

.top-performers-container .stats {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.last-week-ratings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
  right: 5%xz;
  top: calc(60px + 3vh);
  width: 70vw;
  font-family: Gill Sans, sans-serif;
  color: #032509;
  border: 1px solid #011c06;
  background-color: #fbfbfb;
}

.last-week-ratings .no-ratings-msg {
  text-align: center;
  line-height: 35px;
  font-size: 25px;
}

.last-week-ratings div {
  margin: 0;
}

.last-week-ratings .last-week-rate {
  cursor: pointer;
}

.last-week-ratings > .title-container {
  width: 100%;
  display: flex;
  font-weight: 600;
  border-bottom: 1px solid #011c06;
}

.last-week-ratings > .title-container > p {
  text-align: center;
}

.last-week-ratings > .title-container > .name-title {
  width: 10%;
}

.last-week-ratings > .title-container > .game-title {
  width: 27.5%;
}

.last-week-ratings > .title-container > .description-title {
  width: 50%;
}

.last-week-ratings > .title-container > .rating-title {
  width: 12.5%;
}

.last-week-ratings > .last-week-rate {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #011c06;
  transition: 0.5s linear;
}

.last-week-ratings > .last-week-rate.even {
  background-color: #ddd;
  transition: 0.2s ease;
}

.last-week-ratings > .last-week-rate.last {
  border-bottom: none;
}

.last-week-ratings > .last-week-rate:hover {
  background-color: #ccc;
}

.last-week-ratings .last-week-rate > .name-container {
  width: 10%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  font-size: 18px;
  height: 9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: default;
}

.last-week-ratings > .last-week-rate > .teams-container {
  width: 17.875%;
  padding: 0 4.8125%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 9vh;
}

.last-week-ratings.last-week-rate > .teams-container > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.last-week-ratings > .last-week-rate > .teams-container img {
  height: 100%;
}

.last-week-ratings .last-week-rate > .teams-container p {
  width: max-content;
  font-weight: 600;
}

.last-week-ratings .last-week-rate > .description-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.last-week-ratings .last-week-rate > .rating-container {
  width: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-week-ratings .rating-number {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: rgb(44, 46, 44);
  color: white;
  font-weight: 600;
  font-family: Arial, sans-serif;
  margin: 0;
  font-size: 25px;
}

.last-week-ratings .like-container {
  position: absolute;
  left: 105%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: default;
  font-weight: 600;
  color: #255734;
}

.last-week-ratings .like-container svg {
  scale: 1.5;
}

.game-rates-loader {
  position: fixed;
  top: calc(160px + 5vh);
  left: 50%;
  translate: -50%;
  display: none;
}

.average-last-week-rating {
  position: absolute;
  top: 50px;
  left: 50vw;
  translate: -50% -50%;
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
  color: #01260d;
}
